name: build

on:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.24.4'

      - name: Semantic Version
        id: version
        uses: paulhatch/semantic-version@v5.4.0
        with:
          tag_prefix: "v"
          major_pattern: "BREAKING CHANGE"
          minor_pattern: "feat"
          patch_pattern: "fix"

      - name: Create Tag
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
          git tag ${{ steps.version.outputs.version_tag }}
          git push origin ${{ steps.version.outputs.version_tag }}

      - name: Build arm64
        run: |
          GOOS=linux GOARCH=arm64 \
          go build -ldflags="-s -w" -o armbian-stats-linux-arm64

      - name: Build armv7
        run: |
          GOOS=linux GOARCH=arm GOARM=7 \
          go build -ldflags="-s -w" -o armbian-stats-linux-armv7

      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ steps.version.outputs.version_tag }}
          files: |
            armbian-stats-linux-arm64
            armbian-stats-linux-armv7
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
